#!/usr/bin/env elscript
;;; config.el --- Blog config              -*- lexical-binding: t; -*-

;; Copyright (C) 2019  Koki Fukuda

;; Author: Koki Fukuda <ko.fu.dev@gmail.com>

;; Licensed under the AGPL v3 or later.

;;; Code:

(setq config-blog-name "Trellis Blog")
(setq config-index-template-path "template/index.html")
(setq config-https-capable t)
(setq config-domain-name "example.com")

;;; config.el ends here
