html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    background-color: #333;
    margin: 0;
    padding: 20px;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 10;
    cursor: pointer;
}

.subtitle {
    font-size: medium;
    font-weight: bold;
    margin-top:0;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#content {
    max-width: 800px;
    min-height: 100%;
    margin: 0 auto;
    padding-top: 70px;
    background-color: #ddd;
    padding: 100px 20px 10px 20px;
}

.postamble {
    background-color: #eee;
}

.recent-post-container {
    margin: 10px;
}

.recent-post-table {
    margin-left: 20px;
    width: 70%;
}

.recent-post-table tr {
    border: solid 1px #eee;
    background-color: #ddd;
}

.recent-post-table a {
    color: black;
    text-decoration: none;
    display: block;
    outline: none;
}

.entries {
    width: 100%;
}

.entry-row {
    background-color: #bbb;
    cursor: pointer;
    transition: all 200ms;
    border: solid 7px #ddd;
}

.entry-row:hover {
    background-color: #aaa;
}

.entry-row a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    outline: none;
}

.todo {
    font-family: monospace;
    color: red;
}
.done {
    font-family: monospace;
    color: green;
}
.priority {
    font-family: monospace;
    color: orange;
}
.tag {
    background-color: #eee;
    font-family: monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: normal;
}
.org-right {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
.org-left {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}
.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.underline {
    text-decoration: underline;
}
p.verse {
    margin-left: 3%;
}
pre {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
    background-color: #112020;
    color: white;
    overflow-x: auto;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}
caption.t-above {
    caption-side: top;
}
caption.t-bottom {
    caption-side: bottom;
}
td, th {
    vertical-align: top;
}
th.org-right  {
    text-align: center;
}
th.org-left   {
    text-align: center;
}
th.org-center {
    text-align: center;
}
td.org-right  {
    text-align: right;
}
td.org-left   {
    text-align: left;
}
td.org-center {
    text-align: center;
}
dt {
    font-weight: bold;
}
.footpara {
    display: inline;
}
.footdef  {
    margin-bottom: 1em;
}
.figure {
    padding: 1em;
}
.figure p {
    text-align: center;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up {
    text-align: right;
    font-size: 70%;
    white-space: nowrap;
}
textarea {
    overflow-x: auto;
}
.linenr {
    font-size: smaller
}
.org-svg {
    width: 90%;
}
